- content_for(:css) do
  = stylesheet_link_tag("reset")
  = stylesheet_link_tag("application")
  = stylesheet_link_tag("forms")

- content_for(:js) do
  = javascript_include_tag('vendor/jquery-1.4.2')
  = javascript_include_tag("vendor/jquery.enumerable")
  = javascript_include_tag("vendor/suggest")
  = javascript_include_tag('common/form-row-builder')
  = javascript_include_tag('events/new')
.clear
- f.inputs :name => "", :id => "inputs" do
  = f.input :name, :label => "Name", :hint => "What is the name of the event?", :required => false
  = f.input :location_id, :label => "Location", :as => :string, :hint => "Where is the event?", :required => false
  = f.input :weather, :as => :select, :hint => "How was the weather for the event?", :collection => ["Beautiful", "So hot!", "Meh","Bit nippy", "Needed an extra jumper", "Monsoon"]
  = f.input :crowd_size, :as => :select, :hint => "How was the crowd size for the event?", :collection => ["Busy", "Not Busy", "Average"]
  = f.input :event_date,  :as => :date, :hint => "When is the event kicking off?", :selected => nil
  %ul
    %li{:class => 'who-input'}
      %label Who?
      %input
    %li{:class => 'template'}
      %label
      %input{:placeholder => 'Leave blank if no more', :class => 'no-label'}
  = f.buttons :commit
