%h2 Events

= link_to "Create an event", new_admin_event_path, :class => "add_button"


- if @events.empty?
  Sorry there are no events
- else
  %table.list
    %thead
      %tr
        %th What
        %th Where
        %th When
        %th Weather
        %th Earned
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name, admin_event_path(event)
          %td= event.location_id
          %td= event.event_date.strftime('%d %B, %Y')
          %td= event.weather
          %td $100
