- if @events.size==0
  Sorry there are no events,
  = link_to "Create one now", new_admin_event_path
- else
  %table
    %tr
      %th What
      %th Where
      %th When
      %th Weather


    - @events.each do |event|
      %tr
        %td= link_to event.name, admin_event_path(event)
        %td= event.location_id
        %td= event.event_date
        %td= event.weather


