- content_for(:css) do
  = stylesheet_link_tag("reset")
  = stylesheet_link_tag("application")
  = stylesheet_link_tag("forms")

- content_for(:js) do
  = javascript_include_tag('jquery-1.4.2')
  = javascript_include_tag('events/new')

- if display_standard_flashes
  :javascript
    $(".flash_messages").fadeIn("slow");
.flash_messages
  = display_standard_flashes

- semantic_form_for [:admin, @event] do |f|
  = render :partial => "form", :locals => { :f => f }
