- content_for(:css) do
  = stylesheet_link_tag("reset")
  = stylesheet_link_tag("forms")
  = stylesheet_link_tag("application")

%h2= @event.name
= link_to("Edit this event", edit_admin_event_path(@event), :class => "edit_button")

%div.clear

%dl
  %dt Date
  %dd= @event.event_date.strftime('%d %B, %Y')
  %dt Created By
  %dd= @event.volunteer.given_names
  %dt Volunteers
  %dd Xavier Shay, Richard Khoo

%h2 What sold?
.clear
%form.tableForm
  %table
    %tr
      %th Rug #
      %th Sale price
      %th Seller
    %tr
      %td
        %input{:placeholder => 1251}
      %td
        %input{:placeholder => 100}
      %td
        %select
          %option
          %option Xavier Shay
          %option Richard Koo
    %tr
      %th Total
      %td $0
    %tr
      %td
        %input{:type => 'submit', :value => 'Save'}
