%h2 Badges

%p= link_to('New badge', new_admin_badge_path, :class => "add_button")

%table
  - for badge in Badge.all
    %tr
      %td= badge
      %td= truncate(badge.description)
      %td
        = link_to('edit', edit_admin_badge_path(badge))
        = link_to('destroy', [:admin, badge], :method => :delete, :confirm => "Delete #{badge}?")
