- content_for(:css) do
  = stylesheet_link_tag("reset")
  = stylesheet_link_tag("forms")
  = stylesheet_link_tag("application")
  = stylesheet_link_tag("compiled/events/show")

- content_for(:js) do
  = javascript_include_tag("vendor/jquery-1.4.2")
  = javascript_include_tag("vendor/jquery.enumerable")
  = javascript_include_tag('common/form-row-builder')
  = javascript_include_tag('events/show')

%h1
  Bondi Market
  %span.actions
    (
    = link_to("Edit", '#')
    )
%dl
  %dt When?
  %dd 17 May 2010
  %dt Who?
  %dd
    %div{:style => 'float:left;text-align: center;margin-right: 0.5em'}
      = image_tag("mockup/xavier.jpg", :size => '75x75', :title => 'Xavier Shay')
    %div{:style => 'float:left;text-align: center'}
      = image_tag("mockup/xavier-2.jpg", :size => '75x75')
    %br{:style => 'clear:both'}

%h2{:style => 'clear:both'} What sold?
%form.tableForm
  %table
    %thead
      %tr
        %th Rug #
        %th Sale price
        %th Seller
    %tbody
      %tr.sale-input
        %td
          %input{:placeholder => 1251}
        %td
          %input{:placeholder => 100, :class => 'sale-amount'}
        %td
          %select
            %option
            %option Xavier Shay
            %option Richard Koo
      %tr.template
        %td
          %input{:placeholder => 1251}
        %td
          %input{:placeholder => 100, :class => 'sale-amount'}
        %td
          %select
            %option
            %option Xavier Shay
            %option Richard Koo
    %tfoot
      %tr
        %th Total Sales
        %td#total-sales $0
      %tr
        %th Float
        %td
          %input#float-amount{:value => 50}
      %tr
        %th Total Cash
        %th#total-cash $0
      %tr
        %td
          %input{:type => 'submit', :value => 'Save'}
