- content_for(:css) do
  = stylesheet_link_tag("reset")
  = stylesheet_link_tag("forms")
  = stylesheet_link_tag("application")

- content_for(:js) do
  = javascript_include_tag("vendor/jquery-1.4.2")
  = javascript_include_tag("vendor/jquery.enumerable")
  = javascript_include_tag('common/form-row-builder')
  = javascript_include_tag('events/show')
%h1
  Bondi Market
  %span.actions
    (
    = link_to("Edit", '#')
    )
%dl
  %dt Date
  %dd 17 May 2010
  %dt Volunteers
  %dd
    %div{:style => 'float:left;text-align: center;margin-right: 0.5em'}
      = image_tag("mockup/xavier.jpg", :size => '75x75')
      %br
      %p Xavier Shay
    %div{:style => 'float:left;text-align: center'}
      = image_tag("mockup/xavier-2.jpg", :size => '75x75')
      %br
      %p Richard Khoo
    %br{:style => 'clear:both'}

%h2{:style => 'clear:both'} What sold?
%form.tableForm
  %table
    %tr
      %th Rug #
      %th Sale price
      %th Seller
    %tr.sale-input
      %td
        %input{:placeholder => 1251}
      %td
        %input{:placeholder => 100}
      %td
        %select
          %option
          %option Xavier Shay
          %option Richard Koo
    %tr.template
      %td
        %input{:placeholder => 1251}
      %td
        %input{:placeholder => 100}
      %td
        %select
          %option
          %option Xavier Shay
          %option Richard Koo
    %tr
      %th Total
      %td $0
    %tr
      %td
        %input{:type => 'submit', :value => 'Save'}
