%h2 Volunteers

= link_to "Add volunteer", new_admin_volunteer_path, :class => "add_button"

%table#volunteers.list
  %thead
    %tr
      %th Name
      %th Mobile
      %th Home
      %th Work
      %th Actions
  %tbody
    - for volunteer in @volunteers
      %tr[volunteer]
        %td{:class => "volunteer"}
          = link_to volunteer, [:admin, volunteer], :style => "float:left"
          = link_to image_tag("skype.png"), "skype:#{volunteer.skype_name}", :style => "float:left"  unless volunteer.skype_name.blank?
        %td= link_to volunteer.mobile, [:admin, volunteer]
        %td= link_to volunteer.home_phone, [:admin, volunteer]
        %td= link_to volunteer.work_phone, [:admin, volunteer]
        %td
          = link_to "edit", [:edit, :admin, volunteer], :class => "edit_button"
          = link_to('destroy', [:admin, volunteer], :method => :delete, :confirm => "Delete #{volunteer}?", :class => "delete_button")
