- content_for(:css) do
  = stylesheet_link_tag("reset")
  = stylesheet_link_tag("application")
  = stylesheet_link_tag("compiled/events/volunteer")

= image_tag('mockup/xavier-100px.jpg', :class => 'header-thumbnail')
%h1
  Hi Xavier! Welcome back.
  %span.actions= link_to("Logout", volunteer_logout_path, :method => :delete)

%h2 Things You Can Do
.clear
%ul.nav
  %li= link_to("Create an event", admin_events_path, :method => :new )
  %li= link_to("View your profile")  
  %li= link_to("Edit your profile")
  %li= link_to("Find other volunteers", admin_volunteers_path)
%h2 Market Numbers For Your Region
.clear
%table.statistics
  %thead
    %tr
      %th
      %th Weekly Average
      %th YTD 
  %tbody
    %tr
      %th Regional Sales
      %td.big-number 43.5
      %td.big-number 188
    %tr
      %th National Sales
      %td $1,625
      %td $4,780
//
//.big-number
//  %table
//    %tr.count
//      %td 43.5
//      %th Markets
//    %tr.sum
//      %td $1625
//      %th Sales
//  %p 4 week rolling average
//
//.big-number
//  %table
//    %tr.count
//      %td 88
//      %th Markets
//    %tr.sum
//      %td $4780
//      %th Sales
//  %p.caption 6 month total

%br{:style => 'clear:both'}
%h2 Recent Markets You Attended
.clear
%ul.recent-events
  - @events.each do |event|
    %li
      .meta
        %span.sales
          = number_to_currency(event.sales, :precision => 0)
      %h3
        = link_to(event.title, '#')
        %span.day
          = event.day.strftime("%A, %d %B")
      %ul
        - event.volunteers.each do |volunteer|
          %li= image_tag("mockup/#{volunteer}.jpg", :size => '50x50')
      %br{:style => 'clear:both'}
