!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Empowering
    = stylesheet_link_tag "compiled/admin.css", :media => "screen, projection"

    = stylesheet_link_tag "compiled/print.css", :media => "print"
    /[if IE]
      = stylesheet_link_tag "compiled/ie.css", :media => "screen, projection"

  %body
    #header
      .container
        %div#logo= image_tag("/images/empowering.jpg")
        / %h1 empowering communities
        - if logged_in?
          %ul
            %li= link_to "volunteers", admin_volunteers_path, :class => (@active_tab == 'volunteers' ? "active" : nil)
            %li= link_to "events", admin_events_path, :class => (@active_tab == 'events' ? "active" : nil)
            %li= link_to "badges", admin_badges_path, :class => (@active_tab == 'badges' ? "active" : nil)
            %li= link_to "locations", admin_locations_path, :class => (@active_tab == 'locations' ? "active" : nil)
            %li= link_to "region", admin_regions_path, :class => (@active_tab == 'region' ? "active" : nil)
            %li= link_to "roles", admin_roles_path, :class => (@active_tab == 'roles' ? "active" : nil)
            / %li= link_to "products"
            %li= link_to 'logout', volunteer_logout_path

    #main
      .container
        .notice= flash[:notice]
        = yield
