!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Carpets for Communities
    = stylesheet_link_tag "compiled/admin.css", :media => "screen, projection"

    = stylesheet_link_tag "compiled/print.css", :media => "print"
    /[if IE]
      = stylesheet_link_tag "compiled/ie.css", :media => "screen, projection"

  %body
    #header
      .container
        %div#logo= image_tag("/images/cfc_logo_white.png")
        / %h1 empowering communities
        - if current_volunteer.try(:role)
          %ul
            %li= link_to "Volunteers", admin_volunteers_path, :class => (@active_tab == 'volunteers' ? "active" : nil)
            %li= link_to "Events", admin_events_path, :class => (@active_tab == 'events' ? "active" : nil)
            %li= link_to "Badges", admin_badges_path, :class => (@active_tab == 'badges' ? "active" : nil)
            %li= link_to "Locations", admin_locations_path, :class => (@active_tab == 'locations' ? "active" : nil)
            %li= link_to "Region", admin_regions_path, :class => (@active_tab == 'region' ? "active" : nil)
            %li= link_to "Roles", admin_roles_path, :class => (@active_tab == 'roles' ? "active" : nil)
            / %li= link_to "products"
            %li= link_to 'logout', volunteer_logout_path

    #main
      .container
        .notice= flash[:notice]
        = yield
