!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Bug Masher
    = stylesheet_link_tag "compiled/admin.css", :media => "screen, projection"
    
    = stylesheet_link_tag "compiled/print.css", :media => "print"
    /[if IE]
      = stylesheet_link_tag "compiled/ie.css", :media => "screen, projection"
      
  %body
    #header
      .container
        %h1 empowering communities
        %ul
          %li= link_to "volunteers", admin_volunteers_path, :class => "active"
          %li= link_to "locations"
          %li= link_to "channels"
          %li= link_to "states"
          %li= link_to "products"
          %li= link_to 'Logout', volunteer_logout_path
    .notice= flash[:notice]
        
    #main
      .container
        = yield
